<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>me.next.juejin</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>BCA829DC-0BD6-43E0-9C34-2F043F0160A8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C3911228-1ECB-49B9-9D0C-E6B4CB42A770</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>NeXT</string>
	<key>description</key>
	<string>read juejin.im articles</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>JJ</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>C3911228-1ECB-49B9-9D0C-E6B4CB42A770</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>jj</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>python jjsearch.py "{query}"</string>
				<key>subtext</key>
				<string>Android/iOS/前端/面试/翻译计划/kotlin/vue/etc...</string>
				<key>title</key>
				<string>Search juejin.im Articles</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>BCA829DC-0BD6-43E0-9C34-2F043F0160A8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>BCA829DC-0BD6-43E0-9C34-2F043F0160A8</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>C3911228-1ECB-49B9-9D0C-E6B4CB42A770</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>juejin.im</string>
</dict>
</plist>
